
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenu Chère soigneur</h2>

<a href="~/Home/Index" class="btn btn-default">Retour Site principal</a>
<a href="~/Membre/Home/Logout" class="btn btn-default">Logout</a>