@{
    ViewBag.Title = "Contact";
}
<div class="banner-header">
    <div class="container">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<!--header-->
<div class="content">
    <div class="contact">
        <div class="container">
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d90588.04559831446!2d-0.697895!3d44.803707!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5ccbd75122e63618!2sZoo%20de%20Bordeaux%20Pessac!5e0!3m2!1sfr!2sfr!4v1613776066990!5m2!1sfr!2sfr"></iframe>
            </div>
            <div class="contact_top">
                <div class="col-md-8 contact_left">
                    <h3>Formulaire de contact</h3>
                    <p>Pour toutes questions ou renseignements complèter le formulaire suivant:</p>
                    <form method="post">
                        <div class="form_details">
                            <input type="text" name="Nom" class="text" value="Nom" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Nom';}">
                            <input type="text" name="Email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                            <input type="text" name="Sujet" class="text" value="Sujet" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Sujet';}">
                            <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                            <div class="clearfix">
                            </div>
                            <div class="sub-button">
                                <input type="submit" value="Envoyer">
                            </div>
                        </div>
                        <br/>
                        @if (ViewBag.SuccessMessage != null)
                        {
                            @:<div class="alert alert-success">@ViewBag.SuccessMessage</div>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            @:<div class="alert alert-danger">@ViewBag.ErrorMessage</div>
                        }
                    </form>
                </div>
                <div class="col-md-4 company-right">
                    <div class="company_ad">
                        <h3> Contact</h3>
                        <p>Nous sommes également disponible <br /> via les cooordonées suivantes:</p><br />
                        <address>
                            <p>Email : <a href="mailto:ZooPlanet@mail.com">ZooPlanet@mail.com</a></p>
                            <p>Téléphone :+33 (0)557892810</p>
                            <p>
                                Adresse: <br />3 Rue du Transvaal,
                            </p>
                            <p>33600 Pessac </p>
                        </address>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>