@model WebAppGestionZoo.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
@section BibilothequeScripts
{

 @Scripts.Render("~/bundles/jqueryFlexiSel")

}

@section CustomScripts
{
    <script type="text/javascript">
        $(window).load(function () {

            $("#flexiselDemo3").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });
        });
    </script>

}

<div class="header-banner">
    <div class="container">
        <div class="head-banner">
            <br /> 
            <h3>Bienvenu à Zoo Planet</h3>


        </div>
        <div class="banner-grids">
            <div class="col-md-6 banner-grid">
                <h4>Venir dans notre zoo c'est </h4>
                <p>venir vivre une expérience immersive dans un écrin de verdure, au détour d’allées ombragées et dans une végétation luxuriante, le zoo vous invite au dépaysement. Un agréable moment en famille, pour découvrir les activitées quotidiennes et de nouvelles expériences à chaque visite !</p>
            </div>
            <div class="col-md-6 banner-grid">
                <h4>
                    Nos Ateliers pédagogiques
                </h4>
                <p>
                    Le zoo propose aux groupes scolaires des ateliers pédagogiques aux thèmes variés et aux objectifs simples : faire découvrir les particularités d'une espèce, comprendre son mode de vie et les dangers qui menacent sa survie dans la nature.
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--header-->
<!--welcome-->
<div class="content">
    <div class="welcome">
        <div class="container">
            <h2>Venez découvrir </h2>
            <div class="welcome-grids">
                <div class="col-md-3 welcome-grid">
                    <img src="/images/p1.jpg" alt=" " class="img-responsive" />
                    <div class="wel-info">
                        <h4>Activité</h4>
                        <p>Assistez au moment privilégiéaux du goûters de nos animaux  avec nos soigneurs&nbsp;: en fonction de la saison vous verrez celui des guépards, des loutres, des pandas roux … et bien d’autres encore&nbsp;! </p>
                    </div>
                </div>
                <div class="col-md-3 welcome-grid">
                    <img src="~/images/guep.jpg" alt=" " class="img-responsive" />
                    <div class="wel-info">
                        <h4>Un Autre regard</h4>
                        <p><p>Dans un espace unique et spécialement conçu pour lui, redécouvrez le jaguar! Un prédateur qui n’hésite pas à se jeter dans l’eau pour chasser l'anaconda. Un bassin en vision subaquatique vous permettra de l'observer.</p></p>
                    </div>
                </div>
                <div class="col-md-3 welcome-grid">
                    <img src="/images/p3.jpg" alt=" " class="img-responsive" />
                    <div class="wel-info">
                        <h4>Nos volières</h4>
                        <p>Pénétrez par exemple dans notre volière des loriquets et laissez la magie opérer… Vous pourrez les admiré en vol libre et ces petits perroquets au plumage coloré viendront délicatement à votre rencontre</p>
                    </div>
                </div>
                <div class="col-md-3 welcome-grid">
                    <img src="/images/p4.jpg" alt=" " class="img-responsive" />
                    <div class="wel-info">
                        <h4>Terrain ouvert</h4>
                        <p>Découvrez une zone en plaine aires entièrement rénovée avec des aménagement  pensé pour les besoins de nos résident. Certains ont été créer spécialement  par des artisans locaux et partez à la rencontre d’animaux insolites!</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--welcome-->
    <!--feature-->
    <div class="feature">
        <div class="container">
            <h3>Mise en place</h3>
            <div class="feature-grids">
                <div class="col-md-4 feature-grid">
                    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    <h4>Archives de photos</h4>
                    <p>Nous réalisons des archives de photos de chacun de nos résident afin de pouvoir voir leurs évolutions et pouvoir vous partagez celles-ci afin que vous puissiez prendre de leurs nouvelles.</p>
                </div>
                <div class="col-md-4 feature-grid">
                    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                    <h4>Capsule Vidéo</h4>
                    <p>Nous réalisons des capsules vidéo afin de pouvoir mieux comprendre nos résidsmall/ments et leurs besoins. Cela aide énormement à leurs suivit seul ou au sein de leurs environement et nous permet de vous proposer des vidéos informatives avec nos réisdents que vous pouvez rencontrez</p>
                </div>
                <div class="col-md-4 feature-grid">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <h4>Recherches</h4>
                    <p>Nous finançons des projets de recherches et mettons en place des projets sur site pour aider la récolte et l’analyse de données, afin d’en savoir toujours plus sur ces espèces et leurs modes de vies.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--feature-->
    <!--animals-->
    <div class="animals">
        <div class="container">
            <h3>animaux</h3>
            <div class="clients">
                <ul id="flexiselDemo3">
                    @foreach (WebAppGestionZoo.Models.PhotoModel item in Model.PhotoSlider)
                    {
                        <li><img src="@item.Small" class="img-responsive" alt="" /></li>
                    }
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--models-->
    <!--testimonials-->
    <div class="testimonials">
        <div class="container">
            <h3>Pedagogie</h3>
            <p>Pour mieux protéger, il faut mieux connaître&nbsp;! Tout au long de votre visite,<br/> pancartes informatives, soigneurs et animations sont là pour vous en apprendre toujours un peu plus sur ce patrimoine vivant.</p>
            @*<h4><a href="#">John Anderson</a></h4>*@
        </div>
    </div>
    <!--testimonials-->
    <!--events-->
    @*<div class="events">
        <div class="container">
            <h3>events</h3>
            <div class="events-grids">
                <div class="col-md-3 event-grid">
                    <a href="#" class="mask">
                        <img src="/images/e1.jpg" class="img-responsive zoom-img" alt="">
                    </a>
                </div>
                <div class="col-md-3 event-grid1">
                    <h4>Mauris non magna ul </h4>
                    <h5>19-aug-2015</h5>
                    <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                </div>
                <div class="col-md-3 event-grid">
                    <a href="#" class="mask">
                        <img src="/images/e2.jpg" class="img-responsive zoom-img" alt="">
                    </a>
                </div>
                <div class="col-md-3 event-grid1">
                    <h4>Mauris non magna ul </h4>
                    <h5>25-sep-2014</h5>
                    <p>Fusce feugiat malesuada odio. Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@
    <!--events-->
</div>