
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MembreLayout</title>
</head>
<body>
    @*peut ajouter design => importer templatecomme partie vitrine site :*@
    <div> 
    </div>
</body>
</html>
